.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-sides {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.inner-addon {
    position: relative;
}

.inner-addon .glyphicon {
    color: #3c8dbc;
    position: absolute;
    padding: 10px;
    cursor: pointer;
}

.left-addon .glyphicon {
    left: 0;
}
.right-addon .glyphicon {
    right: 0;
}

.left-addon input {
    padding-left:  30px;
}
.right-addon input {
    padding-right: 30px;
}